*{  
    margin:0;
    borer: 1px solid red;
}
body{
    background-color: #f9fafb;
    
    font-family: "Poppins", sans-serif;
  
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  